:root {
  --bg: #feffff;
  --accent: #98dafc;
  --buttons: #f2912b;
  --alt-buttons: #ffd200;
  --text: #312c32;
  --alt-bg: #cfcfcf;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

a,
button {
  text-decoration: none;
}

.App {
  background: var(--bg);
}
