* {
  margin: 0;
  padding: 0;
}

/* Begin Nav Menu */

#Open-Menu {
  padding: 0;
  background: transparent;
  border: 0;
  position: absolute;
  right: 0;
  margin-right: 3%;
  margin-top: 1.3%;
}

#Close-Menu {
  padding: 0;
  background: transparent;
  border: 0;
  position: absolute;
  top: 2%;
  right: 0;
  margin-right: 7%;
}

#Nav-Menu {
  height: 90%;
  position: fixed;
  background: var(--buttons);
  z-index: 1;
  top: 0;
  right: 0;
  border-radius: 50px 0 0 50px;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  margin-top: 1%;
}

/* End Nav Menu */

/* Begin Nav Menu Content */

#Inner-Container {
  margin-left: 6%;
}

#Account-Options button {
  padding: 0;
  background: transparent;
  border: 0;
  margin-right: 6%;
  margin-bottom: 10%;
}

/* End Nav Menu Content */

/* Begin Nav Menu Search Form */

#Menu-UserSearchForm button {
  border: 0;
  background: transparent;
  display: block;
  margin-top: 3%;
}

#Menu-UserSearchForm {
  margin-bottom: 10%;
}

/* End Nav Menu Search Form */

/* Begin Dark/Light Toggle */

#DarkMode p {
  display: inline;
}

#LightModeToggle {
  border: 0;
  background: transparent;
  display: inline;
}

/* End Dark/Light Toggle */

/* Begin Home Header */

#Nav-Header {
  background: #f2912b;
  background: -webkit-linear-gradient(to left, #f2912b, #ffd200);
  background: linear-gradient(to left, #f2912b, #ffd200);
  padding: 0px 0px 0px 0px;
  box-shadow: #000 0px -70px 170px 0px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

#Nav-Header h1 {
  font-size: calc(10px + 2vmin);
  display: inline;
}

#Nav-Logo {
  width: 30%;
  margin-top: 1%;
}

/* End Home Header */

/*
=====
LEVEL 1. RESET STYLES
=====
*/

.field {
  --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);
}

.field__input {
  background-color: transparent;
  border-radius: 0;
  border: none;

  -webkit-appearance: none;
  -moz-appearance: none;

  font-family: inherit;
  font-size: 1em;
}

.field__input:focus::-webkit-input-placeholder {
  color: var(--uiFieldPlaceholderColor);
}

.field__input:focus::-moz-placeholder {
  color: var(--uiFieldPlaceholderColor);
  opacity: 1;
}

/*
=====
LEVEL 2. CORE STYLES
=====
*/

.a-field {
  display: inline-block;
}

.a-field__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
}

.a-field__input:focus {
  outline: none;
}

/*
=====
LEVEL 3. PRESENTATION STYLES
=====
*/

/* a-field */

.a-field {
  --uiFieldHeight: var(--fieldHeight, 40px);
  --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
  --uiFieldBorderColor: var(--fieldBorderColor);

  --uiFieldFontSize: var(--fieldFontSize, 1em);
  --uiFieldHintFontSize: var(--fieldHintFontSize, 1em);

  --uiFieldPaddingRight: var(--fieldPaddingRight, 15px);
  --uiFieldPaddingBottom: var(--fieldPaddingBottom, 15px);
  --uiFieldPaddingLeft: var(--fieldPaddingLeft, 15px);

  position: relative;
  box-sizing: border-box;
  font-size: var(--uiFieldFontSize);
  padding-top: 1em;
}

.a-field__input {
  height: var(--uiFieldHeight);
  padding: 0 var(--uiFieldPaddingRight) 0 var(--uiFieldPaddingLeft);
  border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColor);
}

.a-field__input::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.a-field__input::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.a-field__input:not(:placeholder-shown) ~ .a-field__label-wrap .a-field__label {
  opacity: 0;
  bottom: var(--uiFieldPaddingBottom);
}

.a-field__input:focus::-webkit-input-placeholder {
  opacity: 1;
  transition-delay: 0.2s;
}

.a-field__input:focus::-moz-placeholder {
  opacity: 1;
  transition-delay: 0.2s;
}

.a-field__label-wrap {
  box-sizing: border-box;
  width: 100%;
  height: var(--uiFieldHeight);
  pointer-events: none;
  cursor: text;
  position: absolute;
  bottom: 0;
  left: 0;
}

.a-field__label {
  position: absolute;
  left: var(--uiFieldPaddingLeft);
  bottom: calc(50% - 0.5em);

  line-height: 1;
  font-size: var(--uiFieldHintFontSize);

  pointer-events: none;
  transition: bottom 0.2s cubic-bezier(0.9, -0.15, 0.1, 1.15),
    opacity 0.2s ease-out;
  will-change: bottom, opacity;
}

.a-field__input:focus ~ .a-field__label-wrap .a-field__label {
  opacity: 1;
  bottom: var(--uiFieldHeight);
}

/* a-field_a1 */

.a-field_a1 .a-field__input {
  transition: border-color 0.2s ease-out;
  will-change: border-color;
}

.a-field_a1 .a-field__input:focus {
  border-color: var(--fieldBorderColorActive);
}

/* a-field_a2 */

.a-field_a2 .a-field__label-wrap::after {
  content: "";
  box-sizing: border-box;
  width: 0;
  height: var(--uiFieldBorderWidth);
  background-color: var(--fieldBorderColorActive);

  position: absolute;
  bottom: 0;
  left: 0;

  will-change: width;
  transition: width 0.285s ease-out;
}

.a-field_a2 .a-field__input:focus ~ .a-field__label-wrap::after {
  width: 100%;
}

/* a-field_a3 */

.a-field_a3 {
  padding-top: 1.5em;
}

.a-field_a3 .a-field__label-wrap::after {
  content: "";
  box-sizing: border-box;
  width: 100%;
  height: 0;

  opacity: 0;
  border: var(--uiFieldBorderWidth) solid var(--fieldBorderColorActive);

  position: absolute;
  bottom: 0;
  left: 0;

  will-change: opacity, height;
  transition: height 0.2s ease-out, opacity 0.2s ease-out;
}

.a-field_a3 .a-field__input:focus ~ .a-field__label-wrap::after {
  height: 100%;
  opacity: 1;
}

.a-field_a3 .a-field__input:focus ~ .a-field__label-wrap .a-field__label {
  bottom: calc(var(--uiFieldHeight) + 0.5em);
}

/*
=====
LEVEL 4. SETTINGS
=====
*/

.field {
  --fieldBorderColor: #767676;
  --fieldBorderColorActive: aqua;
}

@media only screen and (min-width: 1200px) {
  #Nav-Logo {
    width: 15%;
    margin-top: 0.3%;
  }

  #Open-Menu {
    margin-right: 3%;
    margin-top: 1%;
  }
}
