.Profile {
  background-color: transparent;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: flex-start;
  align-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  height: 100vh;
  margin-top: 100px;
}

.editAccount,
.deleteAccount {
  border: 0;
  background: #f2912b;
  background: -webkit-linear-gradient(to left, #f2912b, #ffd200);
  background: linear-gradient(to left, #f2912b, #ffd200);
  padding: 10px 20px 10px 20px;
  box-shadow: 0px 2px 6px 0px #a1a1a1;
  border-radius: 25px;
  transition: all 0.5s;
}

.editAccount {
  margin-right: 150px;
}
.deleteAccount:hover,
.editAccount:hover {
  opacity: 50%;
  transition: all 0.5s;
  cursor: pointer;
}

.Profile h1 {
  text-align: center;
  font-weight: 100;
}

.container {
  padding: 10px;
  box-shadow: 0px 11px 21px -8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-bottom: 30px;
  height: 500px;
  width: auto;
}

.avatar {
  height: 250px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  background-size: cover;
  background-position: 50% 10%;
}

.listing {
  overflow: auto;
  height: 500px;
}

.item {
  margin-left: 20px;
  text-align: center;
}

span {
  display: block;
}

.section:nth-child(1) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  margin-right: 50px;
}
