.Search-Results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
  height: 100%;
}

.Search-Header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Search-ResultsList {
  background-color: transparent;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.Results-item:nth-child(1) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.Results-item {
  margin: 20px;
  width: 20%;
}

@media only screen and (max-width: 768px) {
  .Results-item {
    margin: 20px;
    width: 100%;
  }

  .Search-Results {
    height: 100%;
  }

  .Search-Header {
    padding-top: 100px;
  }

  .Search-Results {
    padding-top: 100px;
  }
}
