.Edit-Account {
  width: 70%;
  margin: auto auto;
}

.Edit-Account-Header h1 {
  padding-top: 120px;
  font-weight: 100;
  text-align: center;
  margin-bottom: 60px;
  color: var(--text);
}

.errorHandlerEditAccount {
  color: red;
}

.passwordSection {
  margin-bottom: 10px;
}

.passwordHint {
  font-size: calc(3px + 2vmin);
  color: darkgrey;
}

@media only screen and (min-width: 1200px) {
  .submitLogin {
    margin-right: 0px !important;
  }

  .Edit-Account {
    width: 20% !important;
    margin: auto auto;
  }
  .Edit-Form {
    width: 100%;
  }

  .passwordSection {
    margin-bottom: 10px;
  }

  .passwordHint {
    font-size: calc(-5px + 2vmin);
    color: darkgrey;
  }
}
