@media only screen and (min-width: 1200px) {
  .desktopMenu form {
    display: inline-block;
  }

  .Header__logged-in {
    display: inline-block;
  }

  .Header__logged-out {
    display: inline-block;
  }

  .registerBtn {
    border: 0;
    color: #fff;
    background: #f2912b;
    background: -webkit-linear-gradient(to left, #f2912b, #ffd200);
    background: linear-gradient(to left, #f2912b, #ffd200);
    padding: 5px 10px 5px 10px !important;
    box-shadow: 0px 2px 6px 0px #a1a1a1;
    border-radius: 25px;
    transition: all 0.5s;
    font-size: calc(-5px + 2vmin) !important;
    margin-left: 20px;
    transition: all 0.5s;
  }

  .loginBtn {
    color: #fff;
    transition: all 0.5s;
  }

  .registerBtn:hover,
  .loginBtn:hover {
    transition: all 0.5s;
    opacity: 50%;
  }

  .navSearchBar {
    border: 0;
    border-radius: 25px;
    padding: 6px 6px 6px 6px;
  }

  .Nav-Header .fa-search {
    margin-left: 12px !important;
  }

  .DarkMode {
    display: inline-block;
    margin-right: 20px;
  }

  .avatarNavMenu {
    height: 35px;
    width: 35px;
    border-radius: 25px 25px 25px 25px;
    border: 1px solid #fff;
    background-size: cover;
    background-position: 50% 50%;
    transition: 0.5s all;
  }

  .avatarNavMenu:hover {
    transition: 0.5s all;
    opacity: 50%;
    cursor: pointer;
  }

  .desktopMenu {
    display: inline-flex;
    align-items: center;
    position: absolute;
    right: 0;
  }

  .desktopMenu form button {
    border: 0;
    background: transparent;
  }

  .DarkMode i {
    font-size: calc(2px + 2vmin);
  }

  .desktopMenu a {
    display: inline-block;
  }

  .Desktop-Menu-UserSearchForm label,
  .Desktop-Menu-UserSearchForm input {
    display: inline-block !important;
  }

  .desktopMenu > * + * {
    margin-left: 20px;
  }

  .Nav-Logo {
    width: 300px;
  }

  #Open-Menu {
    margin-right: 3%;
    margin-top: 1%;
  }

  .Nav-Header {
    background: #f2912b;
    background: -webkit-linear-gradient(to left, #f2912b, #ffd200);
    background: linear-gradient(to left, #f2912b, #ffd200);
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 0px;
    box-shadow: #000 0px -70px 170px 0px;
    position: fixed;
    height: 60px;
    border-radius: 0;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  #Nav-Header h1 {
    font-size: calc(10px + 2vmin);
    display: inline;
  }

  .dropdown {
    float: left;
    overflow: hidden;
    display: inline;
  }

  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .navbar a:hover {
    background-color: red;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .mobileMenu {
    display: none;
  }
}
